NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=checkout_db

# Frontend
FRONTEND_URL=http://localhost:5173

# Fees (in COP cents)
BASE_FEE=1500000
DELIVERY_FEE=890000

# Payment Gateway (Sandbox)
PAYMENT_PUBLIC_KEY=pub_stagtest_g2u0HQd3ZMh05hsSgTS2lUV8t3s4mOt7
PAYMENT_PRIVATE_KEY=prv_stagtest_5i0ZGIGiFcDQifYsXxvsny7Y37tKqFWg
PAYMENT_EVENTS_KEY=stagtest_events_2PDUmhMywUkvb1LvxYnayFbmofT7w39N
PAYMENT_INTEGRITY_KEY=stagtest_integrity_nAIBuqayW70XpUqJS4qf4STYiISd89Fp
PAYMENT_API_URL=https://api-sandbox.co.uat.wompi.dev/v1
